.banner {
  min-height: 560px;
  background-size: cover;
}

.title {
  padding: 70px 2px;
  font-size: 73px;
  color: white;

}

.form-box {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: 2px white solid;
  padding: 10px 15px;
}

.instant-quote-box {
  padding: 60px 50px;
  padding-top: 90px;

}

.home-page {
  width: 175px;

}

.control-label-1 {
  color: white;

}

h3 {
  color: white;
}

.btn {
  background-color: #469ae0;
  margin-top: 20px;
  color: white;
}


.couriers {
  height: 12vh;
  margin-top: 20px;
  margin-bottom: 0px;
}


.wrapper {
  min-height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
}

.wrapper-grey {
  background-color: #D8D8D8;
  border-radius: 5px;
  margin-bottom:5px;
  margin-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
}




.courier-image {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}

.courier-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courier-name {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.courier-price {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}
.courier-ratings {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;


}
.courier-collection{
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.courier-button {
  flex: 0 0 auto;
   margin-right: 10px;
  margin-left: 10px;
}

.container-A {
  padding-bottom:5px;
  padding-top:5px;
  padding-right:5px;
  padding-left:5px;

}

.wrapper-border {
  border-style: groove;
  border-radius: 5px;
}

.wrapper-grey1{
  background-color: #f6f6f6;
}

.padded {
    padding-top: 1em;
    padding-bottom: 1em;
}

.section {
    padding-top: 120px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}



.img-responsive {
  margin-top: 20px;
}

.container-carousel {
  margin-top: 45px;
  margin-bottom: 45px;
}

.get-news {
  margin-top: 30px;
  margin-bottom: 30px;
}



// courier results page
.quote1 {
  display: block;
  background: #3D80C1;
  color: #fff;
  margin-top: 1.6em;
  padding: 1.0em;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
}






