.banner {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  padding: 70px 2px;
  font-size: 55px;
  color: white;
  strong {
    color: $yellow;
  }

}

.form-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  // border: 2px white solid;
  margin-top: 70px;

  .form-body {
    padding: 30px;

    h3 {
      color: white;
    }
  }
}

.home-page {
  width: 175px;

}

.control-label-1 {
  color: white;

}



.btn {
  background-color: #469ae0;
  margin-top: 20px;
  color: white;
}


.couriers {
  height: 12vh;
  margin-top: 45px;
  margin-bottom: 0px;
}


.wrapper {
  min-height: 10vh;
  padding-left: 60px;
  padding-right: 60px;
}

.wrapper-grey {
  background-color: #D8D8D8;
  border-radius: 5px;
  margin-bottom:5px;
  margin-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
}




.courier-image {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}

.courier-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courier-name {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.courier-price {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}
.courier-ratings {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;


}
.courier-collection{
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.courier-button {
  flex: 0 0 auto;
   margin-right: 10px;
  margin-left: 10px;
}

.container-A {
  padding-bottom:5px;
  padding-top:5px;
  padding-right:5px;
  padding-left:5px;

}

.wrapper-border {
  border-radius: 0 0 5px 5px;
  border: none;
  background: #f3f3f3;
  .container {
    margin-top: 0px !important;
    padding-top: 30px;
  }
}

.wrapper-grey1{
  padding: 100px 0;
  background-color: #f6f6f6;
  h2 {
    font-size: 32px;
    margin-bottom: 70px;
    font-weight: bold;
  }
  p {
    font-size: 22px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    span {
      width: 40px;
      height: 40px;
      display: flex;
      margin-right: 10px;
      /* display: inline-block; */
      background: $yellow;
      color: white;
      border-radius: 50%;
      align-items: center;
      justify-content: space-around;
    }
  }
}

#carousel {
  padding: 100px 0;
  h2 {
    font-size: 32px;
    margin-bottom: 70px;
    font-weight: bold;
  }
}

.padded {
    padding-top: 1em;
    padding-bottom: 1em;
}

.section {
    padding-top: 120px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}



.img-responsive {
  margin-top: 20px;
}

.container-carousel {
  margin-top: 45px;
  margin-bottom: 45px;
}

.get-news {
  margin-top: 30px;
  margin-bottom: 30px;
}


.carousel-inner blockquote {
  font-weight: lighter !important;
  text-align: justify;
}

// courier results page
.quote1 {
  display: block;
  background: #3D80C1;
  color: #fff;
  margin-top: 1.6em;
  padding: 1.0em;

  text-align: center;
  font-size: 1.5em;
  border-radius: 5px 5px 0 0;
}


.other-style {
  display: flex;
  justify-content: space-around;
}


.wrapper-courier {
  background: white;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  p {
    margin: 0;
  }
  .btn {
    margin-top: 0;
  }
  .courier-name {
    b {
      font-size: 20px;
    }
    .avail {
      font-size: 16px;
      color: grey;
    }
  }

}

.courier-price {
  font-size: 20px;
  .times {
    color: $red;
    padding: 10px;
  }
}
















