/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.banner {
  height: 75vh;
  background-size: cover !important;
  display: flex;
  position: relative;
}
.banner h1 {
  font-size: 80px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  top: 78px;
  left: 60px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.container-form {
  position: absolute;
  top: 100px;
  right: 165px;
  width: 280px;
  height: 50px;
}

.well {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  color: white;
}

.btn {
  background-color: #469ae0;
}

.wrapper {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

}

.wrapper-grey {
  background-color: #D8D8D8;
  border-radius: 5px;
  margin-bottom:5px;
  margin-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
}


.courier-image {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}

.courier-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courier-name {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.courier-price {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}
.courier-ratings {
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;


}
.courier-collection{
  flex: 1 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}


.courier-button {
  flex: 0 0 auto;
   margin-right: 10px;
  margin-left: 10px;
}



.container-A {
  padding-bottom:5px;
  padding-top:5px;
  padding-right:5px;
  padding-left:5px;

}

.wrapper-border {
  border-style: groove;
  border-radius: 5px;
}

.wrapper-grey1{
  background-color: #f6f6f6;
}

.padded {
    padding-top: 1em;
    padding-bottom: 1em;
}


.section {
    padding-top: 120px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}

.couriers {
  height: 16vh;
}

.img-responsive {
  margin-top: 20px;
}

.container-carousel {
  margin-top: 45px;
  margin-bottom: 45px;
}




.get-news {
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-form-index {
  position: absolute;
  top: 100px;
  right: 165px;
  width: 300px;
  height: 50px;
}




h1 {
  color: #3D80C1;
  font-family: "VAG Rounded W01 Bold","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  clear: both;
  line-height: 1.2;

}

.quote1 {

  display: block;
  background: #3D80C1;
  color: #fff;
  margin-top: 1.6em;
  padding: 1.0em;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;


}

.span12 {
  margin-top: 1.0em;
}


.form-group {
position: relative;
padding: 2px;

}


