@import "home";
@import "contact";


.style {
  padding: relative;
  color: white;
  margin: 10px;

}

.other-style {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;

}

.put-it-bold {
  font-weight: bold;
  color: black;

}
