@import "home";


.style {
  padding: relative;
  color: white;
  margin: 10px;

}

.other-style {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;

}

.put-it-bold {
  font-weight: bold;
  color: black;

}

.btn-success {
  padding: 18px 28px;
  line-height: normal;
  border-radius: 8px;
  border-radius: 8px;
  border-radius: 8px;
}

