@import "home";
@import "contact";
@import "about";


.style {
  padding: relative;
  color: white;
  margin: 10px;

}
.put-it-bold {
  font-weight: bold;
  color: black;

}

.btn-success {
  padding: 18px 28px;
  line-height: normal;
  border-radius: 8px;
  border-radius: 8px;
  border-radius: 8px;
}

.courier-image {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.courier-name {
  font-weight: bold;
}

