.tabs1 {
  background: #29abe2;
  display: flex;
  padding: 5px 10px 0 10px
}
.tabs1 a {
  color: white;
}
.tabs1 a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs1 h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs1 p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab2 {
  background: #469ae0;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab2:first-child {
  border-radius: 10px 0 0 0;
}
.tab2:last-child {
  border-radius: 0 10px 0 0;
}
.tab2.active {
  background: white;
  color: black;
}
//
// td {
//   font-size: 22px;
//   padding-bottom: 20px;
//   font-family:"Bitter", serif;
//
// }
// tr {
// text-align: center;
// background-color: #b9d2e8;
//
// }
//
// .col-md-12 {
//   padding-left: 0px;
//   padding-right: 0px;
// }
//
// .table tr {
//     padding-bottom: 50px;
// }
//
// .table {
//   margin-top: 50px;
//   margin-bottom: 200px;
// }
//
// h2 {
//   margin-top: 80px;
//   font-family:"Bitter", serif;
// }
