.profilerow {
    float: none;
    text-align : center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.profilecontainer {
  max-width: 600px;
  padding: auto;
  padding-bottom: 800px;
  padding-top: 100px;
  margin: auto;
  background-color: white;
}
