.profilerow {
    float: none;
    text-align : center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}
