.profilerow {
    float: none;
    text-align : center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.profilecontainer {
  max-width: 800px;
  padding: auto;
  padding-bottom: 800px;
  padding-top: 100px;
  margin: auto;
  background-color: white;


}
.simple_form {
background-color: white;
}

.dashboardbtn {
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-group  {
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  position: relative;
  font-family:"Bitter", serif;
}

.control-label {
  font-size: 20px;
  padding: 10px 0 10px 0;
  font-family:"Bitter", serif;
}

.form-control {
  font-size: 18px;
  font-family:"Bitter", serif;
}

.panel-primary {
  border-radius: 5px;
}
>>>>>>> master
