
<div class="wrapper">

  <div class="container-main">
  <h1>
    Specification and results
  </h1>

  <div class="quote1">
            Add Your Specification
    </div>


    <div class="wrapper-grey">
        <div class="container">
          <div class="row">
            <div class="span12">
              <form method="get" action="/" class="form-inline" >




                  <input class="span5" type="text"  placeholder="Quantity" >
                  <input  class="span5" type="text"  placeholder="Dimension m3" >
                  <input class="span5" type="text"  placeholder="Weight in kg" >
                  <input name="loc" class="span5" type="text"  placeholder="Material type: i.e. hazardous">
                  <input class="span5" type="text"  placeholder="Shipping mate" >
                  <ul>
                  <div style="text-align:center;">
                  <button type="button" class="btn">Add Parcel</button>
                   <button type="button" class="btn">Refresh Prices</button>
                  </div>
                  </ul>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>





