<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>FEL1 status</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Month of report">Month of report</label>
  <div class="col-md-4">
    <select name="Month of report" class="form-control" id="Month of report">
      <option value="Select">Select</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Project preparation status">Project preparation status</label>
  <div class="col-md-4">
  <input name="Project preparation status" class="form-control input-md" id="Project preparation status" type="text" placeholder="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Project phase">Project phase</label>
  <div class="col-md-4">
  <input name="Project phase" class="form-control input-md" id="Project phase" type="text" placeholder="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Status%">Status%</label>
  <div class="col-md-4">
  <input name="Status%" class="form-control input-md" id="Status%" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Kick off fact">Kick off fact</label>
  <div class="col-md-4">
  <input name="Kick off fact" class="form-control input-md" id="Kick off fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Base data fact">Base data fact</label>
  <div class="col-md-4">
  <input name="Base data fact" class="form-control input-md" id="Base data fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Business Case fact">Business Case fact</label>
  <div class="col-md-4">
  <input name="Business Case fact" class="form-control input-md" id="Business Case fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Project scope fact">Project scope fact</label>
  <div class="col-md-4">
  <input name="Project scope fact" class="form-control input-md" id="Project scope fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Technical scope fact">Technical scope fact</label>
  <div class="col-md-4">
  <input name="Technical scope fact" class="form-control input-md" id="Technical scope fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Unit test fact">Unit test fact</label>
  <div class="col-md-4">
  <input name="Unit test fact" class="form-control input-md" id="Unit test fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="FS delivery fact">FS delivery fact</label>
  <div class="col-md-4">
  <input name="FS delivery fact" class="form-control input-md" id="FS delivery fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Simulation fact">Simulation fact</label>
  <div class="col-md-4">
  <input name="Simulation fact" class="form-control input-md" id="Simulation fact" type="text" placeholder="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Informative bid fact">Informative bid fact</label>
  <div class="col-md-4">
  <input name="Informative bid fact" class="form-control input-md" id="Informative bid fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Laboratory test fact">Laboratory test fact</label>
  <div class="col-md-4">
  <input name="Laboratory test fact" class="form-control input-md" id="Laboratory test fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="PIMS run fact">PIMS run fact</label>
  <div class="col-md-4">
  <input name="PIMS run fact" class="form-control input-md" id="PIMS run fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="FEL1 completed fact">FEL1 completed fact</label>
  <div class="col-md-4">
  <input name="FEL1 completed fact" class="form-control input-md" id="FEL1 completed fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="FEL1 approval fact">FEL1 approval fact</label>
  <div class="col-md-4">
  <input name="FEL1 approval fact" class="form-control input-md" id="FEL1 approval fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="1.IPP approval fact">1.IPP approval fact</label>
  <div class="col-md-4">
  <input name="1.IPP approval fact" class="form-control input-md" id="1.IPP approval fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="2.IPP approval fact">2.IPP approval fact</label>
  <div class="col-md-4">
  <input name="2.IPP approval fact" class="form-control input-md" id="2.IPP approval fact" type="text" placeholder="DD/MM/YYYY">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Main risk">Main risk</label>
  <div class="col-md-4">
    <textarea name="Main risk" class="form-control" id="Main risk"></textarea>
  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Main events subject period">Main events subject period</label>
  <div class="col-md-4">
    <textarea name="Main events subject period" class="form-control" id="Main events subject period"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Main events next period">Main events next period</label>
  <div class="col-md-4">
    <textarea name="Main events next period" class="form-control" id="Main events next period"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Support/decision needed">Support/decision needed</label>
  <div class="col-md-4">
    <textarea name="Support/decision needed" class="form-control" id="Support/decision needed"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Deviation evaluation">Deviation evaluation</label>
  <div class="col-md-4">
    <textarea name="Deviation evaluation" class="form-control" id="Deviation evaluation"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="MT factor">MT factor</label>
  <div class="col-md-4">
  <input name="MT factor" class="form-control input-md" id="MT factor" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ROI">ROI</label>
  <div class="col-md-4">
  <input name="ROI" class="form-control input-md" id="ROI" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="NPV new">NPV new</label>
  <div class="col-md-4">
  <input name="NPV new" class="form-control input-md" id="NPV new" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="FS cost current year fact">FS cost current year fact</label>
  <div class="col-md-4">
  <input name="FS cost current year fact" class="form-control input-md" id="FS cost current year fact" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="FS cost current year+1 fact">FS cost current year+1 fact</label>
  <div class="col-md-4">
  <input name="FS cost current year+1 fact" class="form-control input-md" id="FS cost current year+1 fact" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year">CAPEX current year</label>
  <div class="col-md-4">
  <input name="CAPEX current year" class="form-control input-md" id="CAPEX current year" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year +1">CAPEX current year +1</label>
  <div class="col-md-4">
  <input name="CAPEX current year +1" class="form-control input-md" id="CAPEX current year +1" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year +2">CAPEX current year +2</label>
  <div class="col-md-4">
  <input name="CAPEX current year +2" class="form-control input-md" id="CAPEX current year +2" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year +3">CAPEX current year +3</label>
  <div class="col-md-4">
  <input name="CAPEX current year +3" class="form-control input-md" id="CAPEX current year +3" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year +4">CAPEX current year +4</label>
  <div class="col-md-4">
  <input name="CAPEX current year +4" class="form-control input-md" id="CAPEX current year +4" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="CAPEX current year +5">CAPEX current year +5</label>
  <div class="col-md-4">
  <input name="CAPEX current year +5" class="form-control input-md" id="CAPEX current year +5" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year">OPEX current year</label>
  <div class="col-md-4">
  <input name="OPEX current year" class="form-control input-md" id="OPEX current year" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year+1">OPEX current year+1</label>
  <div class="col-md-4">
  <input name="OPEX current year+1" class="form-control input-md" id="OPEX current year+1" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year+2">OPEX current year+2</label>
  <div class="col-md-4">
  <input name="OPEX current year+2" class="form-control input-md" id="OPEX current year+2" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year+3">OPEX current year+3</label>
  <div class="col-md-4">
  <input name="OPEX current year+3" class="form-control input-md" id="OPEX current year+3" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year+4">OPEX current year+4</label>
  <div class="col-md-4">
  <input name="OPEX current year+4" class="form-control input-md" id="OPEX current year+4" type="text" placeholder="number">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="OPEX current year+5">OPEX current year+5</label>
  <div class="col-md-4">
  <input name="OPEX current year+5" class="form-control input-md" id="OPEX current year+5" type="text" placeholder="number">

  </div>
</div>

</fieldset>
</form>
