<div class="tabs1">
  <a class="tab active" href="#">
    <p>Profile</p>
  </a>
  <a class="tab" href="#">
    <h3>Settings</h3>
  </a>
  <a class="tab" href="#">
    <h3>Bookings</h3>
  </a>
  <a class="tab" href="#">
    <h3>Payment</h3>
  </a>
</div>
