<div class="tabs1">
  <a class="tab active" href="dashboard">
    <p>Profile</p>
  </a>
  <a class="tab" href="usersettings">
    <h3>Settings</h3>
  </a>
  <a class="tab" href="userbookings">
    <h3>Bookings</h3>
  </a>
  <a class="tab" href="userpayments">
    <h3>Payment</h3>
  </a>
</div>
