<div class="wrapper">

  <div class="container-main">
  <h1>
    Specification and results
  </h1>
  <div class="quote1">
            Add Your Specification
  </div>
    <div class="wrapper-border">
        <div class="container-A">

            <div class="span12">
            <div class="other-style">
              <form method="get" action="/" class="form-inline" >

                  <div class="form-group">
                  <p><label for="Quantity" class="">Quantity</label></p>
                  <p><input class="span5" id="Quantity" type="text"  placeholder="1, 2, 3, ..." ></p>
                  </div>
                  <div class="form-group">
                  <p><label for="Dimension" class="">Dimension</label></p>
                  <p><input class="span5" id="Dimension" type="text"  placeholder="in Volume" ></p>
                  </div>

                  <div class="form-group">
                  <p><label for="Weight" class="">Weight</label></p>
                  <p><input class="span5" id="Weight" type="text"  placeholder="in kg" ></p>
                  </div>
                  <div class="form-group">
                  <p><label for="Material type" class="">Material type</label></p>
                  <p><input class="span5" id="Material type" type="text"  placeholder="i.e. hazardous" ></p>
                  </div>





                  <p>
                  <input
                     type="checkbox"
                     name="mycheckbox"
                     value="yes"
                     data-toggle="collapse" data-target="#collapseExample"
                  >
                  Check this box if you need courier to supply shipping material.
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="form-group">

                      <div>
                        <label for="data_logger">Data Logger</label>
                        <input
                           type="checkbox"
                           id="data_logger"
                           name="data_logger"
                           value="yes"
                           >
                      </div>
                      <div>
                        <label for="data_Packaging">Data Logger</label>
                        <input
                           type="checkbox"
                           id="data_Packaging"
                           name="data_Packaging"
                           value="yes"
                           >
                      </div>
                      <div>
                      <label for="data-shipping-container">Shipping container</label>
                      <input
                         type="checkbox"
                         id="data-shipping-container"
                         name="data-shipping-container"
                         value="yes"
                         >
                      </div>
                      </div>

                    </div>
                  </div>

                  <ul>
                  <div class="style">
                  <div style="text-align:right;">
                   <button type="button" class="btn btn-success">Refresh Prices</button>
                  </div>
                  </div>
                  </ul>
              </form>
            </div>
            </div>

        </div>
    </div>
  <div class="quote1">
            Your Comparaison results
  </div>
    <div class="wrapper-border">
        <div class="container-A">
                  <div class="wrapper-grey ">
                    <div class="courier-image">
                      <p>courier Image</p>
                        </div>
                        <div class="courier-information">
                            <div class="courier-name">
                              <p>Courier Name</p>
                            </div>
                            <div class="courier-price">
                              <p>Courier price</p>
                            </div>
                            <div class="courier-ratings">
                              <p>Courier ratings</p>
                            </div>
                            <div class="courier-collection">
                              <p>Collection time</p>
                             </div>
                        </div>
                        <div class="courier-button">
                         <%= link_to "Book Now", new_booking_path, {class: "btn btn-success"} %>
                    </div>
                  </div>
                  <div class="wrapper-grey ">
                    <div class="courier-image">
                      <p>courier Image</p>
                        </div>
                        <div class="courier-information">
                            <div class="courier-name">
                              <p>Courier Name</p>
                            </div>
                            <div class="courier-price">
                              <p>Courier price</p>
                            </div>
                            <div class="courier-ratings">
                              <p>Courier ratings</p>
                            </div>
                            <div class="courier-collection">
                              <p>Collection time</p>
                             </div>
                        </div>
                        <div class="courier-button">
                         <%= link_to "Book Now", new_booking_path, {class: "btn btn-success"} %>
                    </div>
                  </div>
                  <div class="wrapper-grey ">
                    <div class="courier-image">
                      <p>courier Image</p>
                        </div>
                        <div class="courier-information">
                            <div class="courier-name">
                              <p>Courier Name</p>
                            </div>
                            <div class="courier-price">
                              <p>Courier price</p>
                            </div>
                            <div class="courier-ratings">
                              <p>Courier ratings</p>
                            </div>
                            <div class="courier-collection">
                              <p>Collection time</p>
                             </div>
                        </div>
                        <div class="courier-button">
                          <%= link_to "Book Now", new_booking_path, {class: "btn btn-success"} %>
                    </div>
                  </div>
                  <div class="wrapper-grey ">
                    <div class="courier-image">
                      <p>courier Image</p>
                        </div>
                        <div class="courier-information">
                            <div class="courier-name">
                              <p>Courier Name</p>
                            </div>
                            <div class="courier-price">
                              <p>Courier price</p>
                            </div>
                            <div class="courier-ratings">
                              <p>Courier ratings</p>
                            </div>
                            <div class="courier-collection">
                              <p>Collection time</p>
                             </div>
                        </div>
                        <div class="courier-button">
                        <%= link_to "Book Now", new_booking_path, {class: "btn btn-success"} %>

                    </div>
                  </div>
        </div>
    </div>

  </div>
</div>


