<div class="wrapper">

  <div class="container-main">
  <h1>
    Specification and results
  </h1>
  <div class="quote1">
            Add Your Specification
  </div>
    <div class="wrapper-grey">
        <div class="container">
          <div class="row">
            <div class="span12">
            <div class="other-style">
              <form method="get" action="/" class="form-inline" >

                  <div class="form-group">
                  <p><label for="Quantity" class="">Quantity</label></p>
                  <p><input class="span5" id="Quantity" type="text"  placeholder="1, 2, 3, ..." ></p>
                  </div>
                  <div class="form-group">
                  <p><label for="Dimension" class="">Dimension</label></p>
                  <p><input class="span5" id="Dimension" type="text"  placeholder="in kg" ></p>
                  </div>

                  <div class="form-group">
                  <p><label for="Weight" class="">Weight</label></p>
                  <p><input class="span5" id="Weight" type="text"  placeholder="in kg" ></p>
                  </div>
                  <div class="form-group">
                  <p><label for="Material type" class="">Material type</label></p>
                  <p><input class="span5" id="Material type" type="text"  placeholder="i.e. hazardous" ></p>
                  </div>





                  <script type="text/javascript" language="JavaScript">
                  function HidePart(d) { document.getElementById(d).style.display = "none";  }
                  function ShowPart(d) { document.getElementById(d).style.display = "block"; }
                  function CheckboxChecked(b,d)
                  {
                     if(b) { ShowPart(d); }
                     else  { HidePart(d); }
                  }
                  </script>


                  <form
                     name="myform"
                     method="GET"
                     action="http://willmaster.com">

                  <p>
                  <input
                     type="checkbox"
                     name="mycheckbox"
                     value="yes"
                     onclick="CheckboxChecked(this.checked,'checkboxdiv')">
                  Check this box if you need courier to supply shipping material.
                  </p>

                  <div class= "put-it-bold" id="checkboxdiv" style="display:none">
                  <p>
                  Data Logger<br />
                  </p>
                  <input
                     type="checkbox"
                     name="mycheckbox"
                     value="yes"
                     >
                  </div>

                  <div class= "put-it-bold" id="checkboxdiv" style="display:none">
                  <p>
                  Packaging<br />
                  </p>
                  <input
                     type="checkbox"
                     name="mycheckbox"
                     value="yes"
                     >
                  </div>

                  <div class= "put-it-bold" id="checkboxdiv" style="display:none">
                  <p>
                  shipping container<br />
                  </p>
                  <input
                     type="checkbox"
                     name="mycheckbox"
                     value="yes"
                     >
                  </div>


                  </form>








                  <ul>
                  <div class="style">
                  <div style="text-align:right;">
                   <button type="button" class="btn">Refresh Prices</button>
                  </div>
                  </div>
                  </ul>
              </form>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
                  CheckboxChecked(document.myform.mycheckbox.checked,'checkboxdiv');
</script>




