<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1 class="title"><strong>UK's first</strong> comparison website for cold chain transportation</h1>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-box">
          <div class="form-body">
            <h3 align="center">Get an Instant Quote</h3>
            <form action="/couriers">
              <input type="hidden" name="step" value=1>
              <div class="form-group">
                <label for="pickup_location" class="control-label-1">Pick Up</label><br>
                <input name="pickup_location" class="form-control" id="pickup_location" placeholder="12 Elder Street London">
              </div>
              <div class="form-group">
                <label for="destination_location" class="control-label-1">Destination</label>
                <input name="destination_location" class="form-control" id="destination_location" placeholder="Google Campus, London">
              </div>
              <div class="form-group">
                <label for="temperatureform" class="control-label-1">Temperature</label>
                <select class="form-control" name="temperature">
                  <option value="vapour">Vapour Phase (-196) LN2</option>
                  <option value="ultra">Ultra Low (-80)</option>
                  <option value="frozen_40">Frozen (-40)</option>
                  <option value="frozen_30">Frozen (-30)</option>
                  <option value="frozen_20">Frozen (-20)</option>
                  <option value="refrigerated">Refigerated (+2-+8)</option>
                  <option value="controlled_ambiant">Controlled Ambient (+15-+25)</option>
                  <option value="uncontrolled_ambiant">Uncontrolled Ambient</option>
                </select>
              </div>
          </div>
            <div style="text-align:center;">
              <input type="submit" class="btn btn-primary" style="width: 100%; padding: 15px; border-radius: 0 0 8px 8px" value="Check available couriers">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="couriers">
  <div class="container">
    <div class="row">
     <div class="col-md-2 col-md-offset-1">
       <img src="courier1.jpg" style="width:160px"/>
     </div>
     <div class="col-md-2">
       <img src="courier2.jpg" style="width:160px"/>
     </div>
     <div class="col-md-2">
       <img src="courier3.jpg" style="width:160px"/>
     </div>
     <div class="col-md-2">
       <img src="courier4.jpg" style="width:160px"/>
     </div>
     <div class="col-md-2">
       <img src="courier5.jpg" style="width:160px"/>
     </div>
    </div>
  </div>
</div>


<div class="wrapper-grey1">
  <div class="container text-center padded features">
  <h2>As easy as...</h2>
    <div class="row">
      <div class="col-xs-9 col-sm-4 col-md-4">
        <img src="biology.png" alt="">
        <p><span>1</span> Define your package</p>
      </div>
      <div class="col-xs-9 col-sm-4 col-md-4">
        <img src="pills.png" alt="">
        <p><span>2</span> Find best courier</p>
      </div>
      <div class="col-xs-9 col-sm-4 col-md-4">
        <img src="heart.png" alt="">
        <p><span>3</span> Book it</p>
      </div>
    </div>
  </div>
</div>

<div>
  <section id="carousel">
    <h2 class="text-center">What they say...</h2>
    <div class="container-carousel">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
                  <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
          <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
            <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
              <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item">
                          <img src="doc1.png" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                <blockquote>
                  <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
              <div class="item">
                          <img src="doctor1.jpg" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                <blockquote>
                    <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
              <div class="active item">
                          <img src="doc2.jpg" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                <blockquote>
                    <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
                      <div class="item">
                          <img src="doc3.jpg" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                  <blockquote>
                  <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
                      <div class="item">
                          <img src="doc4.jpg" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                  <blockquote>
                  <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
                      <div class="item">
                          <img src="doc5.jpg" alt="" class="profile-circle" style="background-color: rgba(0,0,0,.2); ">
                  <blockquote>
                  <p> Awesome service, very easy to use website and great customer service, would recomment to anyone. Thank you so much parcelmed for making my life simpler. Time and money saved! I will definitely be using you again and recommending you to other departments in the hospital.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<div class="wrapper-grey1 padded">
  <div class="get-news">
    <div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Leave us your mail to hear more from us</p>
    <form class="form-inline">
      <input type="email" placeholder="nick@gmail.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn-primary">
    </form>
    </div>
  </div>
</div>

 <% content_for (:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {

      var pickup_location = $('#pickup_location').get(0);
      if (pickup_location) {
        var autocomplete = new google.maps.places.Autocomplete(pickup_location, { types: ['geocode'] });
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        google.maps.event.addDomListener(pickup_location, 'keydown', function(e) {
          if (e.keyCode == 13) {
            e.preventDefault(); // Do not submit the form on Enter.
          }
        });
      };

      var destination_location = $('#destination_location').get(0);
      if (destination_location) {
        var autocomplete = new google.maps.places.Autocomplete(destination_location, { types: ['geocode'] });
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        google.maps.event.addDomListener(destination_location, 'keydown', function(e) {
          if (e.keyCode == 13) {
            e.preventDefault(); // Do not submit the form on Enter.
          }
        });
      }
    });
  </script>
<% end %>
